.clients-section__title {
    margin-bottom: 30px;

    @include desktop {
        margin-bottom: 50px;
    }
   
}

.client-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;

    @include desktop {
      flex-wrap: nowrap;
    }
}

.client-list__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    background: var(--main-bgc-color);
    outline: transparent;
    transition: border-color var(--transition-duration);

        &:hover,
        &:focus {
            border-color: var(--accent-color);
            fill: var(--accent-color);
        }
    @include tablet {
        min-width: 226px;
    }
    @include desktop {
        min-width: 170px;
    }

}

.client-list__icon {
    width: 106px;
    height: 60px;
    fill: #afb1b8;
    transition: fill var(--transition-duration);

    .client-list__link:hover &,
    .client-list__link:focus & {
            border-color: var(--accent-color);
            fill: var(--accent-color);
}
}


