.mobile-menu__btn {
   background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;

    @include tablet {
        display: none;
    }
}