.mobile-menu__btn {
   background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;

        &:hover,
        &:focus {
            fill: var(--accent-color);
        }

    @include tablet {
        display: none;
    }
}