.work-section__title,
.team-section__title,
.clients-section__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
    color: var(--secondary-text-color);
    letter-spacing: 0.03em;
    text-align: center;
}